<form autocomplete="off" onsubmit="event.preventDefault();" class="ethck-downtime-form">
    <div style="display:flex; flex-direction:row">
        <div style="width:160px; margin-right: 5px;">
            <img style="height: 160px; width: 160px;" class="file-picker-cust" src="{{activity.img}}" data-type="image"></img>
        </div>
        <div>
            <label>Name:</label>
            <input type="text" id="name" name="name" value="{{activity.name}}"/>
            <label>Description:</label>
            <textarea name="desc" id="desc">{{activity.description}}</textarea>
            <!-- Thank you CUB Condition Lab (errational!) -->
            <label>Icon in Character Sheet</label>
            <div class="path">
                <input type="text" name="rollIcon" title="Status Icon Path" class="icon-path" value="" placeholder="/icons/example.svg" data-dtype="String">
                <button type="button" name="file-picker" class="file-picker" data-type="image" data-target="rollIcon" title="Browse Files" tabindex="-1">
                    <i class="fas fa-file-import fa-fw"></i>
                </button>
            </div>
        </div>
    </div>
    <div>
    <div class="form-group">
        <label>Ability Checks</label>
        <select name="abiCheck" id="abiCheck">
        <div>
            <option label=" "></option>
            {{#each abilities as |name key|}}
            <div>
                <option value="{{name}} Check" id="{{key}}" data-dtype="Boolean" />
                <label for="{{key}}">{{name}}</label>
            </div>
            {{/each}}
        </div>
        </select>
    </div>
    <div class="form-group">
        <label>Saving Throws</label>
        <select name="saveSelect" id="saveSelect">
        <div>
            <option label=" "></option>
            {{#each saves as |name key|}}
            <div>
                <option value="{{name}} Saving Throw" id="{{key}}" data-dtype="Boolean" />
                <label for="{{key}}">{{name}}</label>            
            </div>
            {{/each}}
        </div>
        </select>
    </div>
    <div class="form-group">
        <label>Skill Checks</label>
        <select name="skiCheck" id="skiCheck">
        <div>
            <option label=" "></option>
            {{#each skills as |name key|}}
            <div>
                <option value="{{name}}" id="{{key}}" data-dtype="Boolean" />
                <label for="{{key}}">{{name}}</label>
            </div>
            {{/each}}
        </div>
        </select>
    </div>
    <div class="form-group">
        <label>Tools</label>
        <select name="toolSelect" id="toolSelect">
        <div>
            <option label=" "></option>
            {{#each tools as |name|}}
            <div>
                <option value="{{name}}" id="{{name}}" data-dtype="Boolean">{{name}}</option>          
            </div>
            {{/each}}
        </div>
        </select>
    </div>
    <div class="form-group">
        <label>Formula</label>
        <input type="text" id="rollFormula" name="rollFormula" placeholder="1d20 + 5"/>
    </div>
    <div class="form-group">
        <label>DC</label>
        <input type="text" id="dc" name="dc"/>
    </div>
    <div>
        <button type="submit" name="addRollableEvent" value="1" class="addRollable"><i class="fas fa-dice"></i>Add Roll</button>
    </div>
    </div>
    <div>
        <p>Groups give you choices. The same name for group makes you choose between these rolls. Different names for group let's you do both rolls</p>
        <table id="rollableEventsTable" class="ethck-downtime-table">
            <colgroup>
               <col span="1" style="width: 35%;">
               <col span="1" style="width: 20%;">
               <col span="1" style="width: 35%;">
               <col span="1" style="width: 10%;">
            </colgroup>
            <tr>
                <th class="resultLeft">Roll</th>
                <th class="resultLeft">DC</th>
                <th>Group</th>
                <th>Delete</th>
            </tr>
            {{#each activity.rollableGroups as |group|}}
            {{#each group.rolls as |arr|}}
                <tr id="{{arr.[2]}}" class="rollableEvent">
                    <td><label>{{arr.[0]}}</label></td>
                    <td><label>{{arr.[1]}}</label></td>
                    <td><input type="text" id="group" placeholder="group name for rolls" value="{{group.group}}"></td>
                    <td class="resultCenter">
                        <a class="item-control training-delete" id="deleteRollable" title="Delete Downtime Activity">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {{/each}}
            {{/each}}
        </table>
    </div>

    <hr>

    <div>
        <label><b>Add Results</b></label>
        <div class="form-group">
            <label>Start</label>
            <input type="text" id="resultMin" name="resultMin" placeholder="0">
        </div>
        <div class="form-group">
            <label>End</label>
            <input type="text" id="resultMax" name="resultMax" placeholder="5">
        </div>
        <div class="form-group">
            <label>Result Text</label>
            <input type="text" id="resultText" name="resultText" placeholder="You win 5 cakes.">
        </div>
        <div>
            <button type="submit" name="addResult" value="1" class="addResult"><i class="fas fa-dice"></i>Add Result</button>
        </div>
        <table id="resultsTable" class="ethck-downtime-table">
            <colgroup>
               <col span="1" style="width: 10%;">
               <col span="1" style="width: 10%;">
               <col span="1" style="width:70%;">
               <col span="1" style="width: 10%;">
            </colgroup>
            <tr>
                <th class="resultHead resultLeft">Start Value</th>
                <th class="resultHead resultLeft">End Value</th>
                <th class="resultHead">Result</th>
                <th class="resultHead">Delete</th>
            </tr>
            {{#each activity.results as |arr|}}
                <tr id="{{arr.[3]}}" class="result">
                    <td class="resultBorderright"><label style="margin: 5px;">{{arr.[0]}}</label></td>
                    <td class="resultBorderright"><label style="margin: 5px;">{{arr.[1]}}</label></td>
                    <td class="resultBorderright resultPad"><label>{{arr.[2]}}</label></td>
                    <td class="resultCenter"><a class="item-control training-delete" id="deleteResult" title="Delete Downtime Activity"><i class="fas fa-trash"></i></a></td>
                </tr>
            {{/each}}
        </table>
        <div>
            <label>Activity Type</label>
            <input type="radio" id="succFailActivity" name="activityType" value="succFail" checked="checked">Success/Fail Count</input>
            <input type="radio" id="categoryActivity" name="activityType" value="categories">Categories</input>
            <input type="radio" id="noRollActivity" name="activityType" value="noRoll">No Roll</input>
        </div>
    </div>

    <hr>

    <div>
        <label><b>Complications</b></label></br>
        <div class="form-group">
            <label>Chance of occuring per use</label>
            <select name="compchance" id="compchance">
                <option label=" "></option>
                {{#each compChances as |cc |}}
                    <option value="{{cc}}" id="{{cc}}">{{cc}}%</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label>RollTable to use</label>
            <select name="Complications" id="complications">
                <option label=" "></option>
                {{#each tables as |table |}}
                    <option value="{{table.data._id}}" id="{{table.data._id}}"/>{{table.data.name}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <hr>

    <div class="ethck-downtime-options">
        <label><b>Options</b></label></br>
        <input type="checkbox" id="privateActivity" name="privateActivity">Private Roll</input>
        <input type="checkbox" id="privateComp" name="privateComp">Private Complications</input>
        <input style="width: 2em;"type="text" id="timeTaken" name="timeTaken" value="5"> Days Used</input>
    </div>

    <hr>

    <div>
        <button type="submit" name="submit" value="1"><i class="fas fa-dice"></i>Submit</button>
    </div>
</form>
