<form class="ethck-downtime-form roll-table-config" autocomplete="off">
  <header class="">
    <div style="display:flex; flex-direction:row;">
      <div style="width:160px; border-right: 1px solid #b5b3a4; border-bottom: 1px solid #b5b3a4; box-shadow: 0px 1px 1px 0px #f0f0e0; padding-right: 5px;">
        <span style="text-align: center; width: 160px; display: block;">Icon in Chat</span>
        <img style="height: 140px; width: 160px;" class="file-picker-cust" src="{{activity.chat_icon}}" data-type="image"></img>
      </div>
      <div style="padding:0px 0px 0px 5px;">
        <label>Name:</label>
        <input type="text" id="name" name="name" value="{{activity.name}}"/>
        <label>Description:</label>
        <textarea name="description" id="desc">{{activity.description}}</textarea>
        <!-- Thank you CUB Condition Lab (errational!) -->
        <label>Icon in Character Sheet</label>
        <div class="path">
          <input type="text" name="sheet_icon" title="Status Icon Path" class="icon-path" value="{{activity.sheet_icon}}" placeholder="/icons/example.svg" data-dtype="String">
          <button type="button" name="file-picker" class="file-picker" data-type="image" data-target="sheet_icon" title="Browse Files" tabindex="-1">
            <i class="fas fa-file-import fa-fw"></i>
          </button>
        </div>
        <div>
          <label>Activity Type</label>
          <input type="radio" id="SUCCESS_COUNT" name="type" value="SUCCESS_COUNT" checked="checked">Success Count
          <input type="radio" id="ROLL_TOTAL" name="type" value="ROLL_TOTAL">Roll Total
          <input type="radio" id="NO_ROLL" name="type" value="NO_ROLL">No Roll
        </div>
      </div>
    </div>
  </header>
  <p/>        
  <body>

    <h2>Rolls</h2>

    <!-- Roll Table Results Loop -->
    <section class="results" id="rollsTable">
      <ol class="table-results" id="rollableEventsTable">
        <li class="table-result table-header flexrow">
          <div class="result-type">
            <label>Roll Type</label>
          </div>

          <div class="result-details">
            <label>Roll</label>
          </div>

          <div class="result-type">
            <label>Group Name</label>
          </div>

          <div class="result-weight">
            <label>DC</label>
          </div>

          <div class="result-controls">
            <a name="addRollableEvent" value="1" class="addRollable" title="Add New Roll">
              <i class="fas fa-plus"></i>
            </a>
          </div>
        </li>

        <li class="table-result flexrow" data-id="template" id="rollable" style="display: none;">

              <div class="result-type" id="roll-type" data-id="template">
                <select name="roll.type" disabled>
                  <option value="ABILITY_CHECK" selected="">Ability Check</option>
                  <option value="SAVING_THROW">Saving Throw</option>
                  <option value="SKILL_CHECK">Skill Check</option>
                  <option value="TOOL_CHECK">Tool Check</option>
                  <option value="CUSTOM">Custom Formula</option>
                </select>
              </div>

              <div class="result-details" id="roll-val">
                <select id="ABILITY_CHECK" name="roll.roll" disabled>
                  {{#each abilities}}
                    <option value="{{@key}}">{{this}}</option>
                  {{/each}}
                </select>
                <select id="SAVING_THROW" style="display: none;" name="roll.roll" disabled>
                  {{#each saves}}
                    <option value="{{@key}}">{{this}}</option>
                  {{/each}}
                </select>
                <select id="SKILL_CHECK" style="display: none;" name="roll.roll" disabled>
                  {{#each skills}}
                    <option value="{{@key}}">{{this}}</option>
                  {{/each}}
                </select>
                <select id="TOOL_CHECK" style="display: none;"  name="roll.roll" disabled>
                  {{#each tools as | tool |}}
                    <option value="{{tool}}">{{tool}}</option>
                  {{/each}}
                </select>
                <input type="text" id="CUSTOM" value="{{roll.roll}}" placeholder="@attributes.str.mod" style="display: none;" name="roll.roll" disabled/>
              </div>

              <div class="result-type" id="roll-group">
                <input type="text" name="roll.group" placeholder="a" disabled>
              </div>

              <div class="result-weight" id="roll-dc">
                <input type="text" name="roll.dc" placeholder="1d20" disabled>
              </div>

              <div class="result-controls">
                <a class="delete-roll" title="Delete Roll">
                  <i class="fas fa-trash fa-fw"></i>
                </a>
              </div>

        </li>
        {{#each activity.roll as | roll |}}
            <li class="table-result flexrow" data-id="{{roll.id}}" id="rollable">

              <div class="result-type" id="roll-type" data-id="{{roll.id}}">
                <select name="roll.type">
                  <option value="ABILITY_CHECK" selected="">Ability Check</option>
                  <option value="SAVING_THROW">Saving Throw</option>
                  <option value="SKILL_CHECK">Skill Check</option>
                  <option value="TOOL_CHECK">Tool Check</option>
                  <option value="CUSTOM">Custom Formula</option>
                </select>
              </div>

              <div class="result-details" id="roll-val">
                <select id="ABILITY_CHECK" name="roll.roll">
                  {{#each ../abilities}}
                    <option value="{{@key}}">{{this}}</option>
                  {{/each}}
                </select>
                <select id="SAVING_THROW" style="display: none;" disabled name="roll.roll">
                  {{#each ../saves}}
                    <option value="{{@key}}">{{this}}</option>
                  {{/each}}
                </select>
                <select id="SKILL_CHECK" style="display: none;" disabled name="roll.roll">
                  {{#each ../skills}}
                    <option value="{{@key}}">{{this}}</option>
                  {{/each}}
                </select>
                <select id="TOOL_CHECK" style="display: none;" disabled name="roll.roll">
                  {{#each ../tools as | tool |}}
                    <option value="{{tool}}">{{tool}}</option>
                  {{/each}}
                </select>
                <input type="text" id="CUSTOM" value="{{roll.roll}}" placeholder="@attributes.str.mod" style="display: none;" disabled name="roll.roll"/>
              </div>

              <div class="result-type" id="roll-group">
                <input type="text" name="roll.group" value="{{roll.group}}" placeholder="a">
              </div>

              <div class="result-weight" id="roll-dc">
                <input type="text" name="roll.dc" value="{{roll.dc}}" placeholder="1d20">
              </div>

              <div class="result-controls">
                <a class="delete-roll" title="Delete Roll">
                  <i class="fas fa-trash fa-fw"></i>
                </a>
              </div>

            </li>
        {{/each}}
      </ol>
    </section>

    <h2>Results</h2>

  <!-- Roll Table Results Loop -->
    <section class="results" id="resultsTable">
      <ol class="table-results" id="resultsTable">
        <li class="table-result table-header flexrow">

          <div class="result-range">
            <label>Range</label>
          </div>

          <div class="result-details">
            <label>Result Details</label>
          </div>
          <div class="result-controls">
            <label>Trigger Complications</label>
          </div>

          <div class="result-controls">
            <a class="addResult" title="Add New Result">
              <i class="fas fa-plus"></i>
            </a>
          </div>
        </li>

        <li class="table-result flexrow" id="result" data-id="template" style="display:none;">

          <div class="result-range">
            <input type="text" id="low" name="result.min" placeholder="0" disabled>
            <span> - </span>
            <input type="text" id="high" name="result.max" placeholder="5" disabled>
          </div>

          <div class="result-details">
            <input type="text" id="details" name="result.details" placeholder="Result description" disabled>
          </div>

          <div style="flex: 0 0 80px; text-align: center;">
            <input type="checkbox" id="triggerComplication" name="result.triggerComplication" {{#if result.triggerComplication}}checked{{/if}} disabled>
          </div>

          <div class="result-controls">
            <a class="delete-result" title="Delete Result">
              <i class="fas fa-trash fa-fw"></i>
            </a>
          </div>
        </li>

        {{#each activity.result as | result i |}}
          <li class="table-result flexrow" id="result" data-id="{{result.id}}">

          <div class="result-range">
            <input type="text" id="low" name="result.min" value="{{result.min}}" placeholder="0">
            <span> - </span>
            <input type="text" id="high" name="result.max" value="{{result.max}}" placeholder="5">
          </div>

          <div class="result-details">
            <input type="text" id="details" name="result.details" value="{{result.details}}" placeholder="Result description">
          </div>
          <div style="flex: 0 0 80px; text-align: center;">
            <input type="checkbox" id="triggerComplication" name="result.triggerComplication" {{#if result.triggerComplication}}checked{{/if}}>
          </div>

          <div class="result-controls">
            <a class="delete-result" title="Delete Result">
              <i class="fas fa-trash fa-fw"></i>
            </a>
          </div>
        </li>
      {{/each}}
      </ol>
    </section>
  </body>

  <h2>Complications</h2>
   <div>
    <div class="form-group">
      <label>Chance of occuring per use</label>
      <select name="complication.chance" id="compchance">
        <option label=" "></option>
        {{#each compChances as | cc |}}
          <option value="{{cc}}" id="{{cc}}">{{cc}}%</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label>RollTable to use</label>
      <select name="complication.roll_table" id="complications">
        <option label=" "></option>
        {{#each tables as |table |}}
          <option value="{{table.data._id}}" id="{{table.data._id}}"/>{{table.data.name}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <h2>Options</h2>

  <div class="ethck-downtime-options">
    <input type="checkbox" id="privateActivity" name="options.rolls_are_private">Private Roll</input>
    <input type="checkbox" id="privateComp" name="options.complications_are_private">Blind GM Complications</input>
    <input type="checkbox" id="materials" name="options.ask_for_materials">Ask for Materials?</input>
    <input style="width: 2em;"type="text" id="timeTaken" name="options.days_used" value="5"> Days Used</input>
  </div>

  <hr>

  <footer>
    <button type="submit" name="submit" value="1"><i class="fas fa-dice"></i>Submit</button>
  </footer>
</form>