<form class="activity-log">
  <input type="hidden" name="actorId" value="{{object._id}}"/>

  <h1 class="title">{{object.name}}'s Downtime Activity Log</h1>
  <div class="action-table">
    <table>
      <tr>
        <th>Time</th>
        <th>User</th>
        <th>Activity</th>
        <th>Result</th>
      </tr>
      {{#each changes as |change id|}}
      <tr>
        <td>{{change.timestamp}}</td>
        <td>{{change.user}}</td>
        <td>{{change.activityName}}</td>
        <td>{{change.result}}</td>
      </tr>
      {{/each}}
    </table>
  </div>

  <footer>
    <button id="apply-audits"><i class='fas fa-check'></i> Exit</button>
  </footer>


</form>
