<form autocomplete="off" onsubmit="event.preventDefault();">
    <div>
        <button type="button" class="duplicate-actor-act" name="copy-act"><i class="fas fa-dice"></i>Copy Local Activities to Another Actor</button>
        <div class="flexrow">
            <button style="width:50%;" type="button" class="import" name="import"><i class="fas fa-dice"></i>Import World Downtimes</button>
            <button style="width:50%;" type="button" class="export" name="export"><i class="fas fa-dice"></i>Export World Downtimes</button>
        </div>
        <button type="submit" name="submit" value="1"><i class="fas fa-dice"></i>Submit</button>
    </div>
</form>
