<form autocomplete="off" onsubmit="event.preventDefault();">
    <div class="flexrow" style="padding-bottom: 10px;">
        <div style="flex-basis: 20%; padding:2px;">
            <label><b>Source Actor</b></label>
            <select id="srcActor">
              {{#each actors}}
                <option value="{{this.id}}">{{this.name}}</option>
              {{/each}}
            </select>
        </div>
        <div style="flex-basis: 40%; padding:2px;">
            <label><b>Actor Activities</b></label></br>
            <select style="width: 100%;" id="actorAct">
            </select>
        </div>
        <div style="flex-basis: 20%; padding:2px;">
            <label><b>Destination Actor</b></label>
            <select id="destActor">
              {{#each actors}}
                <option value="{{this.id}}">{{this.name}}</option>
              {{/each}}
            </select>
        </div>
    </div>

    <button type="submit" id="submit" value="1"><i class="fas fa-dice"></i>Submit</button>
</form>