<div class="tab downtime flexrow" data-group="primary" data-tab="downtime">
  <ol class="inventory-list items-list ethck-downtime">
    <li class="items-header flexrow">
      <h3 class="item-name flexrow">Custom Downtime Activities</h3>
      <div class="ethck-item-controls flexrow">
        <a class="item-control item-create activity-log" title="Review Changes">
          <i class="fas fa-clipboard"></i> Activity Log
        </a>
        <a class="item-control item-create activity-add" title="Create New Downtime Activity">
          <i class="fas fa-plus-circle"></i> Add
        </a>
      </div>
    </li>
    <ol class="item-list">
      {{#each actorAct.actor.flags.downtime-ethck.trainingItems as |training tid| }}
        <li class="item flexrow">
          <div class="item-name flexrow rollable">
            {{#if training.sheet_icon}}
            <div class="item-image activity-roll localRoll" id="ethck-roll-{{tid}}" title="Roll Downtime Activity" style="background-image: url({{training.sheet_icon}});"></div>
            {{else}}
            <div class="item-image activity-roll localRoll" id="ethck-roll-{{tid}}" title="Roll Downtime Activity" style="background-image: url(icons/svg/d20.svg);"></div>
            {{/if}}
            <h4 class="activity-toggle-desc localRoll" id="ethck-toggle-desc-{{tid}}" title="Toggle Summary">{{training.name}}</h4>
          </div>
          <div class="item-detail type">
            {{{training.description}}}
          </div>
          <div class="ethck-item-controls">
            <a class="item-control activity-edit" id="ethck-edit-{{tid}}" title="Edit Downtime Activity"><i class="fas fa-edit"></i></a>
            <a class="item-control activity-delete" id="ethck-delete-{{tid}}" title="Delete Downtime Activity"><i class="fas fa-trash"></i></a>
            <a class="item-control activity-move" id="ethck-move-{{tid}}" title="Move Activity Up"><i class="fas fa-chevron-up"></i></a>
            <a class="item-control activity-move" id="ethck-move-{{tid}}" title="Move Activity Down"><i class="fas fa-chevron-down"></i></a>
          </div>
        </li>
      {{/each}}
    </ol>
    <li class="items-header flexrow">
      <h3 class="item-name flexrow">World Downtimes</h3>
      {{#if isGM}}
      <div class="ethck-item-controls">
        <a class="item-control world-add" title="Add World Downtime Activity">
          <i class="fas fa-plus"></i> Add World Downtime
        </a>
      </div>
      {{/if}}
    </li>
    <ol class="item-list">
      {{#each activities as |training tid| }}
        <li class="item flexrow">
          <div class="item-name flexrow rollable">
            {{#if training.sheet_icon}}
            <div class="item-image activity-roll worldRoll" id="ethck-roll-{{tid}}" title="Roll Downtime Activity" style="background-image: url({{training.sheet_icon}});"></div>
            {{else}}
            <div class="item-image activity-roll worldRoll" id="ethck-roll-{{tid}}" title="Roll Downtime Activity" style="background-image: url(icons/svg/d20.svg);"></div>
            {{/if}}
            <h4 class="activity-toggle-desc worldRoll" id="ethck-toggle-desc-{{tid}}" title="Toggle Summary">{{training.name}}</h4>
          </div>
          <div class="item-detail type">
            {{{training.description}}}
          </div>
          {{#if ../isGM}}
          <div class="ethck-item-controls worldRoll">
            <a class="item-control activity-edit" id="ethck-edit-{{tid}}" title="Edit Downtime Activity"><i class="fas fa-edit"></i></a>
            <a class="item-control activity-delete" id="ethck-delete-{{tid}}" title="Delete Downtime Activity"><i class="fas fa-trash"></i></a>
            <a class="item-control activity-move" id="ethck-move-{{tid}}" title="Move Activity Up"><i class="fas fa-chevron-up"></i></a>
            <a class="item-control activity-move" id="ethck-move-{{tid}}" title="Move Activity Down"><i class="fas fa-chevron-down"></i></a>
          </div>
          {{/if}}
        </li>
      {{/each}}
    </ol>
  </ol>
</div>
