/*********************************/
/*         Character Sheet      */
/*****************************/
/* Allow for all tabs to be on the same line */
.dnd5e.sheet .sheet-navigation .item {
  margin: 0 0.5em;
}

/*********************************/
/*         DOWNTIME TAB        */
/*****************************/

/* Tweak some item controls styles to fit the additional buttons*/
.inventory-list.ethck-downtime .ethck-item-controls {
	min-width: fit-content;
	min-width: -moz-fit-content;
	justify-content: space-between;
	flex: 0 0 44px;
}

.inventory-list.ethck-downtime .ethck-item-controls a {
	min-width: fit-content;
	min-width: -moz-fit-content;
	flex: 1 !important;
	margin-right: 5px;
	font-size: 12px;
}

.inventory-list.ethck-downtime .item .item-name {
	flex: 0 1 30%;
}
/* Type Column */
.dnd5e.sheet.actor .inventory-list.ethck-downtime .item-detail.type,
.inventory-list.ethck-downtime .item-detail.type {
	/*text-transform: capitalize;*/
	flex: 1 0 50%;
	text-align: left;
}

/*********************************/
/*         ALL FORMS           */
/*****************************/

.ethck-downtime-table tr:nth-child(odd) { 
    background-color: #DCDACE; 
}

.ethck-downtime-table .resultCenter {
	text-align: center;
}

.ethck-downtime-table .resultLeft {
	text-align: left;
}

#rollableEventsTable > li > #roll-val > input,
#rollableEventsTable > li > #roll-val > select {
	width: 100%;
}

#rollableEventsTable > li.table-result.table-header.flexrow > div.result-details {
	margin-left: 20px;
}


/*********************************/
/*         DOWNTIME FORM       */
/*****************************/

.ethck-downtime-form .ethck-downtime-table .resultHead {
	border-bottom: 1px solid black;
}

.ethck-downtime-form .ethck-downtime-table .resultPad {
	padding:0px 5px 0px 5px;
}

.ethck-downtime-form .ethck-downtime-options input {
	padding: 0px 5px 0px 5px;
}

.ethck-downtime-form .path {
    display: flex;
    flex: 1;
    margin: 0px 3px 3px 0px;
}

.ethck-downtime-form .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.ethck-downtime-form .tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #f1f0ec;
  color: black;
  border-radius: 1px;
  padding: 5px;
  line-height: 1;
  padding-top: 3px;
  border-style: double;
  font-style: normal;
  font-weight: normal;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 14px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.ethck-downtime-form .tooltip .tooltiptext.left {
  top: 0px;
  right: 105%; 
}

.ethck-downtime-form .tooltip:hover .tooltiptext {
  visibility: visible;
}


/*********************************/
/*         ACTIVITY LOGS          */
/*****************************/

.activity-log .instructions {
	margin-bottom: 10px;
}

.activity-log .action-table {
	margin-bottom: 20px;
}

.activity-log .action-table table {
	text-align: left;
	border: none;
	background-color: none;
}

.activity-log .action-table table tr th,
.activity-log .action-table table tr td {
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: capitalize;
}

.activity-log .action-table table tr:nth-of-type(even) td {
	background-color: rgba(0,0,0,0.2);
}

.activity-log .action-table table tr:hover td {
	background-color: rgba(255,0,0,0.2);
}

.activity-log footer{
	display: flex;
}
.activity-log #apply-audits,
.activity-log #cancel-audits {
	flex: 1;
}

/*********************************/
/* SUPPORT FOR D&D5E DARK MODE */
/*****************************/

.dark-mode .activity-log .action-table table tr:nth-of-type(even) td {
	background-color: rgba(0,0,0,0.5);
}

.dark-mode .activity-log .action-table table tr:hover td {
	background-color: rgba(63,136,230, 0.4);
}