/*********************************/
/*         TRAINING TAB        */
/*****************************/

/* Tweak some item controls styles to fit the additional buttons*/
.training .item-controls {
	min-width: fit-content;
	min-width: -moz-fit-content;
}

.training .item-controls a {
	min-width: fit-content;
	min-width: -moz-fit-content;
	flex: 1 !important;
	margin-right: 5px;
}

/* Type Column */
.dnd5e.sheet.actor .training .inventory-list .item-detail.type {
	text-transform: capitalize;
	flex: 0 0 50%;
}

/*********************************/
/*           DIALOGS           */
/*****************************/

.training-dialog .wide-field {
	margin-bottom: 10px;
	padding-top: 5px;
}

.training-dialog .field {
	display: flex;
	margin-bottom: 10px;
	padding-top: 5px;
}

.training-dialog .field * {
	flex: 5;
}


/*********************************/
/*         AUDIT LOGS          */
/*****************************/

.audit-log .instructions {
	margin-bottom: 10px;
}

.audit-log .action-table {
	margin-bottom: 20px;
}

.audit-log .action-table table {
	text-align: left;
	border: none;
	background-color: none;
}

.audit-log .action-table table tr th,
.audit-log .action-table table tr td {
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: capitalize;
}



.audit-log .action-table table tr:nth-of-type(even) td {
	background-color: rgba(0,0,0,0.2);
}

.audit-log .action-table table tr:hover td {
	background-color: rgba(255,0,0,0.2);
}

.audit-log footer{
	display: flex;
}
.audit-log #apply-audits,
.audit-log #cancel-audits {
	flex: 1;
}

/*********************************/
/* SUPPORT FOR D&D5E DARK MODE */
/*****************************/

/* Training Bar */
.dark-mode .training .progress-bar {
	background-color: #303030;
}

/* Training Bar Progress */
.dark-mode .training .progress-bar .training-completion {
	background-color: #3F88E6;
	color: #000000;
}

.dark-mode .audit-log .action-table table tr:nth-of-type(even) td {
	background-color: rgba(0,0,0,0.5);
}

.dark-mode .audit-log .action-table table tr:hover td {
	background-color: rgba(63,136,230, 0.4);
}


/*********************************/
/*     SUPPORT FOR TIDY 5E     */
/*****************************/

.tidy5e .training .item-controls .item-create {
	padding-left: 5px;
	padding-right: 5px;
}

.tidy5e .training .item-controls .item-create:last-child {
	margin-right: 0px;
}

/* Tweak activity entries on NPC sheet */
.tidy5e.sheet.actor.npc .training .inventory-list .item .item-name .item-image {
	height: 30px;
	width: 30px;
	flex: 0 0 30px;
}

.tidy5e.sheet.actor.npc .training .inventory-list .item .item-name h4 {
	line-height: 30px;
}

.tidy5e.sheet.actor.npc .training .inventory-list .item-detail .training-override {
	max-width: 40px;
}

.tidy5e.sheet.actor.npc .training .inventory-list .inventory-header .item-controls a.item-create {
	margin-top: 0px;
	padding: 4px 5px;
	margin-right: 5px;
}

.tidy5e.sheet.actor.npc .training .inventory-list .item {
	line-height: 30px;
}

/* Controls dark mode support */
.tidy5eDark .tidy5e.sheet.actor .training .inventory-list .item-controls a,
.tidy5eDark .tidy5e.sheet.actor .training .inventory-list .item-controls a:hover {
  color: var(--darkmode-primary-color);
	font-weight: 300;
}

/* Training bar dark mode support */
.tidy5eDark .training .progress-bar {
	background-color: var(--darkmode-faint-color);
}

.tidy5eDark .training .progress-bar .training-completion {
	background-color: var(--darkmode-secondary-accent);
}

.dwtList input[type=checkbox] + label {
	margin: 3px;
}
.dwtList input[type=checkbox]:checked + label {
	margin: 2px;
	color: red;
	font-weight: bold;
}






















































































.lmrtfy.lmrtfy-parchment .window-content {
	background: url(../images/parchment.jpg);
	padding: 5px;
}

/* request-rolls.html */
.lmrtfy .lmrtfy-actor-avatars input[type=checkbox] {
	display:none;
}
.lmrtfy.lmrtfy-parchment input[type=checkbox] {
	display:none;
}
.lmrtfy.lmrtfy-parchment select,
.lmrtfy.lmrtfy-parchment input[type=text] {
	background-color: rgba(220, 200, 160, 0.5);
}

.lmrtfy input[type=checkbox] + label {
	flex: 1;
}
.lmrtfy.lmrtfy-parchment input[type=checkbox] + label {
	margin: 3px;
}
.lmrtfy.lmrtfy-parchment input[type=checkbox]:checked + label {
	margin: 2px;
	color: red;
	font-weight: bold;
}

.lmrtfy-actor-avatars {
	justify-content: center;
}
.lmrtfy-actor-avatars > div {
	position: relative;
	flex: 0 0 45px;
}
.lmrtfy-actor-avatars img {
	width: 45px;
	height: 45px;
	transition-duration: 0.2s;
	transform-origin: 50% 50%;
}
.lmrtfy-actor-avatars input:checked + label img {
	transform: scale(0.9);
	box-shadow: 0 0 5px #ff0000;
}

form .form-group .lmrtfy-ability-checks,
form .form-group .lmrtfy-saving-throws,
form .form-group .lmrtfy-extras {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.lmrtfy-parchment form .form-group .lmrtfy-ability-checks,
.lmrtfy-parchment form .form-group .lmrtfy-saving-throws,
.lmrtfy-parchment form .form-group .lmrtfy-extras {
	flex-wrap: nowrap;
}

form .form-group .lmrtfy-skill-checks {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-evenly;
	max-height: 220px;
	flex: 8;
}
.lmrtfy-parchment form .form-group .lmrtfy-skill-checks {
	max-height: 200px;
}

.lmrtfy-ability-checks > div,
.lmrtfy-saving-throws > div,
.lmrtfy-skill-checks > div ,
.lmrtfy-extras > div {
	flex: 3;
	padding: 4px;
	display: flex;
}

.lmrtfy-submit {
		text-align: center;
}
.lmrtfy-request-roll,
.lmrtfy-save-roll {
	text-align: center;
}

.lmrtfy-parchment .lmrtfy-request-roll,
.lmrtfy-parchment .lmrtfy-save-roll {
	background: url(../images/button.png);
	background-repeat: no-repeat ;
	background-size: 100% 100%;
	color: black;
	height: 40px;
	width: 200px;
}
.select-all,
.deselect-all {
	flex: 1;
}
.lmrtfy-parchment .select-all,
.lmrtfy-parchment .deselect-all {
	background-color: rgba(220, 200, 160, 0.75);
	border-radius: 10px;
}


/* Roller.html */
.lmrtfy-avatar {
	text-align: center;
	margin: 2px;
}
.lmrtfy-avatar img {
	width: 64px;
	height: 64px;
}

.lmrtfy-actor-list {
	justify-content: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.lmrtfy-actor-list > div {
	flex: 0 0 64px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lmrtfy-ability-check,
.lmrtfy-ability-save,
.lmrtfy-skill-check,
.lmrtfy-custom-formula,
.lmrtfy-initiative,
.lmrtfy-death-save,
.lmrtfy-perception {
	height: 48px;
	text-align: center;
	margin-top: 4px;
}
.lmrtfy-parchment .lmrtfy-ability-check,
.lmrtfy-parchment .lmrtfy-ability-save,
.lmrtfy-parchment .lmrtfy-skill-check,
.lmrtfy-parchment .lmrtfy-custom-formula,
.lmrtfy-parchment .lmrtfy-initiative,
.lmrtfy-parchment .lmrtfy-death-save,
.lmrtfy-parchment .lmrtfy-perception {
	background: url(../images/button.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: black;
	height: 78px;
}

.lmrtfy-roller button:disabled {
	opacity: 0.5;
}

.lmrtfy-actor .tooltip {
	display: block;
	min-width: 148px;
	height: 26px;
	padding: 2px 4px;
	position: absolute;
	top: -32px;
	left: -50px;
	background: rgba(0, 0, 0, 0.9);
	border: 1px solid #191813;
	border-radius: 3px;
	color: #f0f0e0;
	line-height: 22px;
	text-align: center;
	white-space: nowrap;
	word-break: break-all;
}
